.logo {height: 40px;}



nav {
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);}

.hero {padding: 24px 24px;
     display: flex;
     flex-direction: column;

     
    
     }
     
.hero-img { align-items: center;
           justify-content: center;
          display: flex;}     

.grid-image{height: 222px;
    align-self: center;}

.grid-text {align-items: left;}

h1 {font-size: 30px;
    font-weight: 700;}

p {font-size: 18px;} 




.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
    
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.card--stats {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
    font-size: 15px;
}


.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
                            





@media all and (min-width:318px) and (max-width: 400px) {
    
    
    .logo {height: 28px;}



nav {
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);}

.hero {padding: 24px 24px;
     display: flex;
     flex-direction: column;

     
    
     }
     
.hero-img { align-items: center;
           justify-content: center;
          display: flex;}     

.grid-image{height: 172px;
    align-self: center;}

.grid-text {align-items: left;}

h1 {font-size: 26px;
    font-weight: 700;}

p {font-size: 16px;} 

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}



.card {
    width: 90px;
    font-size: 9px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

.card--stats {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.card--star {
    height: 9px;
}

/* ADD */
.card--price {
    margin-top: auto;
    font-size: 10px;
}



    
  }


  @media all and (min-width:400px) and (max-width: 599px) {

    .card {
        width: 120px;
        font-size: 12px;
        flex: 0 0 auto;         /* ADD */
        display: flex;          /* ADD */
        flex-direction: column; /* ADD */
        
    }
    
    .card--image {
        width: 100%;
        border-radius: 9px;
        margin-bottom: 9px;
    }
    
    /* ADD */
    .card--title {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    
    .card--stats {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .card--star {
        height: 12px;
    }
    
    /* ADD */
    .card--price {
        margin-top: auto;
        font-size: 12px;
    }
                                
    
    


  }



  @media all and (min-width:600px) and (max-width: 800px) {

    .grid-image{height: 323px;
        align-self: center;}


        h1 {font-size: 36px;
            font-weight: 700;}
        
        p {font-size: 20px;}   


        .hero {padding: 24px 34px;
            display: flex;
            flex-direction: column;
       
            
           
            }


            .card {
                width: 145px;
                font-size: 12px;
                flex: 0 0 auto;         /* ADD */
                display: flex;          /* ADD */
                flex-direction: column; /* ADD */
                
            }
            
       
        
    
    
    
   
    
  }  


  @media all and (min-width:801px) and (max-width: 999px) {

    .grid-image{height: 423px;
        align-self: center;}

        h1 {font-size: 36px;
            font-weight: 700;}
        
        p {font-size: 20px;}   

        .hero {padding: 24px 64px;
            display: flex;
            flex-direction: column;
       
            
           
            } 

            .card {
                width: 175px;
                font-size: 12px;
                flex: 0 0 auto;         /* ADD */
                display: flex;          /* ADD */
                flex-direction: column; /* ADD */
                
            }

            .cards-list {
                display: flex;
                flex-wrap: nowrap;
                gap: 100px;
                overflow-x: auto;
                justify-content: center;
                align-items: center;
                padding: 30px;
            }
            
            
        }

 @media all and (min-width:1000px) and (max-width: 2000px) {

                .grid-image{height: 570px;
                    align-self: center;}
            
                    h1 {font-size: 38px;
                        font-weight: 700;}
                    
                    p {font-size: 22px;}   
            
                    .hero {padding: 24px 64px;
                        display: flex;
                        flex-direction: column;}


                        .cards-list {
                            display: flex;
                            flex-wrap: nowrap;
                            gap: 100px;
                            overflow-x: auto;
                            justify-content: center;
                            align-items: center;
                            padding: 30px;
                        }
                        

                        
                    
                 }  